<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/screen.css">
    <link rel="stylesheet" href="../style/main.css">
</head>

<body>
    <main id="canvas">
        <div class="logo">Exchange</div>
        <div class="element">
            <div class="size">Купівля</div>
            <div class="cen"></div>
            <div class="size">Продаж</div>
        </div>
        <div class="element">
            <div class="side">23.44</div>
            <div class="center">PLN</div>
            <div class="side">24.56</div>
        </div>
        <div class="element">
            <div class="side">24.56</div>
            <div class="center">EUR</div>
            <div class="side">24.56</div>
        </div>
        <div class="element">
            <div class="side">24.56</div>
            <div class="center">RUB</div>
            <div class="side">24.56</div>
        </div>
        <div class="element">
            <div class="side">24.56</div>
            <div class="center">USD</div>
            <div class="side">24.56</div>
        </div>

        <div class="more">Більше...</div>
        <div class="more">Історія курсу</div>
    </main>
    <header>
        <div class="menu">
            <img id="left" src="../image/angle-left-b.svg" alt="">
            <img id="translate" src="../image/plus.svg" alt="">
            <img id="myWord" src="../image/play.svg" alt="">
            <img id="right" src="../image/angle-right-b.svg" alt="">
        </div>
    </header>
    <script src="../js/main.js"></script>
</body>

</html>