
body {
    position: relative;
    padding-bottom: 55px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
}

button:active {
    box-shadow: 0 0 5px 1px #286c7d;
}

button {
    width: 100%;
    height: 60px;
    color: #969faa;
    border-radius: 15px;
    padding: 10px;
    background-color: #1C1D1E;
    border: none;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
}

main {
    margin: 50px auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: max-content;
}

main[class = 'main']>div>h2{
    position: absolute;
    left: 140px;
    top: 15px;
    color: rgba(64, 154, 3, 0);
    transition: 1.5s;
}

div[class = 'alertBackground'] > h3 {
    margin-top: 20px;
}

main[class = 'main']>div>input[type = 'text']:focus {
    background: #1C1D1E;
    box-shadow: 0 0 5px 1px #286c7d;
    border: solid 3px rgb(0 0 0 / 0%);
}

main[class = 'main']>div>input[type = 'text']{
    transition: 1.5s;
    height: 34px;
    width: 100%;
    border-radius: 15px;
    outline:none;
    background: #1C1D1E;
    border: solid 3px rgb(0 0 0 / 0%);
    padding: 10px 40px 10px 10px;
    font-size: 20px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
}

.alertBackground {
    position: absolute;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: #1C1D1E;
    border-radius: 15px;
    width: 80%;
}

.info {
    font-size: 2em;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapperInput{
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    position: relative;
    transition: 1s;
}

.h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #969faa;
    border-radius: 15px;
    padding: 10px;
    background-color: #1C1D1E;
    border: none;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
}

.wrrapperButton {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#closeAlert {
    width: 100%;
    height: 100%;
    background-color: rgba(71, 82, 94, 0.57);
}

#alert {
    z-index: 1;
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#verification{
    transition: 1s;
}

#health{
    color: rgba(245, 63, 49, 1);
}

#score{
    color: rgba(201, 134, 0, 1);
}
