
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*{
    font-family: 'Robotos', sans-serif;
    font-weight: 600;
    color: #969faa;
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 80px;
    width: 100%;
    position: relative;
    background-color: #24414D;
}

header{
    z-index: 2;
    position:fixed;
    bottom: 0;
    height: max-content;
    width: 100%;
    margin: auto;
    box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 20%);
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main{
    width: 90%;
    margin: 20px auto auto;
    min-height: 100vh;
}

.menu{
    width: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

div[class = 'menu']>img{
    width: 30px;
    height: 30px;
    border: solid 2px #286c7d;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
}

div[class = 'menu']>img:active{
    box-shadow: 0 0 5px 1px #286c7d;
}