button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
}

body{
    position: relative;
    padding-bottom: 55px;
}

button:active{
    box-shadow: 0 0 5px 1px #286c7d;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: max-content;
}

button{
    width: 48%;
    margin-top: 20px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
    background-color: #1C1D1E;
}

div[class = 'alertBackground']>h3{
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

.wrrapperButton{
    display: flex;
    justify-content: space-between;
}

.alertBackground{
    position: absolute;
    padding: 0 20px 20px 20px;
    background-color: #1C1D1E;
    border-radius: 15px;
    width: 80%;
}

.info{
    font-size: 2em;
}

.topHeader{
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.logo{
    text-align: center;
    color: #969faa;
    font-size: 2.5em;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    margin-top: 20px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
    background-color: #1C1D1E;
}

#closeAlert{
    width: 100%;
    height: 100%;
    background-color: rgba(71, 82, 94, 0.57);
}

#alert{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#alertScore{
    font-size: 4em;
}
