
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
}

body{
    position: relative;
}

button:active{
    box-shadow: 0 0 5px 1px #286c7d;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: max-content;
    margin: 40px auto auto;
}

button{
    padding: 5px 0 5px 0;
    min-height: 50px;
    height: max-content;
    width: 48%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
    background-color: #1C1D1E;
}

div[class = 'alertBackground']>h3{
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

.wrrapperButton{
    display: flex;
    justify-content: space-between;
}

.alertBackground{
    position: absolute;
    padding: 0 20px 20px 20px;
    background-color: #1C1D1E;
    border-radius: 15px;
    width: 80%;
}

.info{
    font-size: 2em;
}

.topHeader{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo{
    text-align: center;
    color: #969faa;
    font-size: 2.5em;
}

.button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    margin-top: 20px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 57%);
    background-color: #1C1D1E;
}

.button:active{
    box-shadow: 0 0 5px 1px #286c7d;
}

#health{
    color: rgba(245, 63, 49, 1);
}

#score{
    color: rgba(201, 134, 0, 1);
}

#closeAlert{
    width: 100%;
    height: 100%;
    background-color: rgba(71, 82, 94, 0.57);
}

#alert{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
main>button{
    font-weight: 300;
}

#alertScore{
    color: rgba(201, 134, 0, 1);
    font-size: 4em;
}

