<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" th:href="@{/style/screen.css}" href="../static/style/screen.css">
    <link rel="stylesheet" th:href="@{/style/chooseSentence.css}" href="../static/style/chooseSentence.css">
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
</head>

<body>
<div id="alert">
    <div id="closeAlert"></div>
    <div class="alertBackground">
        <h3>Result</h3>
        <h3 id="alertScore">🏆 0</h3>

        <div class="wrrapperButton">
            <div class="button" id="menu">Menu</div>
            <div class="button" id="tryAgain">Try again</div>
        </div>
    </div>
</div>
<div class="topHeader">
    <div style="padding-left: 20px">
        <div id="score" class="info">🏆 0</div>
    </div>
    <div style="padding-right: 20px">
        <div id="health" class="info">3 ❤️</div>
    </div>
</div>
    <main>
        <h3 id="task"></h3>
        <br>
        <div class="wrapper">
            <div id="result" class="result"></div>
            <div id="choose" class="choose">

            </div>
            <div id="controlButton">
                <button id="menuOne">Menu</button>
                <button id="next">Next</button>
            </div>
        </div>
    </main>

<header>
    <div class="menu">
        <img id="home" src="../static/image/home.svg" th:src="@{/image/home.svg}" alt="">
        <!--            <img id="add" src="../static/image/plus.svg" th:src="@{/image/plus.svg}" alt="">-->
        <!--            <img id="myWord" src="../static/image/edit.svg" th:src="@{/image/user.svg}" alt="">-->
<!--        <img id="user" src="../static/image/user.svg" th:src="@{/image/user.svg}" alt="">-->
    </div>
</header>
<script type="module" th:src="@{/js/module.js}" src="../static/js/module.js"></script>
<script type="module" th:src="@{/js/chooseSentence.js}" src="../static/js/chooseSentence.js"></script>
<script type="module" th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
</body>
</html>