<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/screen.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="manifest" href="../manifest.webmanifest">
</head>

<body>
   <main>
       <p>Index</p>
    </main>
    <header>
        <div class="menu">
            <img id="left" src="../image/angle-left-b.svg" alt="">
            <img id="translate" src="../image/plus.svg" alt="">
            <img id="myWord" src="../image/play.svg" alt="">
            <img id="right" src="../image/angle-right-b.svg" alt="">
        </div>
    </header>
    <script src="../js/main.js"></script>
</body>

</html>