<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/screen.css}" href="../static/style/screen.css">
    <link rel="stylesheet" th:href="@{/style/index.css}" href="../static/style/index.css">
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
</head>

<body>
    <main>
        <span class="logo">Control panel<br>for<br>"Telegram Bot"</span>
        <button id="word">Word edit</button>
        <button id="sentence">Sentence edit</button>
        <button id="user">Send all user</button>
    </main>
    <header>
        <div class="menu">
            <img id="home" src="../static/image/home.svg" th:src="@{/image/home.svg}" alt="">
<!--            <img id="add" src="../static/image/plus.svg" th:src="@{/image/plus.svg}" alt="">-->
<!--            <img id="myWord" src="../static/image/edit.svg" th:src="@{/image/edit.svg}" alt="">-->
            <img id="setting" src="../static/image/setting.svg" th:src="@{/image/setting.svg}" alt="">
        </div>
    </header>
    <script th:src="@{/js/index.js}" src="../static/js/index.js"></script>
    <script th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
</body>
</html>