<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" th:href="@{/style/screen.css}" href="../static/style/screen.css">
    <link rel="stylesheet" th:href="@{/style/irregularVerbQuiz.css}" href="../static/style/irregularVerbQuiz.css">
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
</head>

<body>
<div id="alert">
    <div id="closeAlert"></div>
    <div class="alertBackground">
        <h3 style="text-align: center; font-size: 3em">Result</h3>
        <h3 style="font-size: 4em; text-align: center" id="alertScore">🏆 0</h3>

        <div class="wrrapperButton">
            <div class="button" id="menu">Menu 🏠</div>
            <div class="button" id="tryAgain">Try again 🔄</div>
        </div>
    </div>
</div>
    <div class="topHeader">
        <div id="score" class="info">🏆 0</div>
        <div id="health" class="info">3 ❤️</div>
    </div>
    <main class="main">
        <h3 style="text-align: center; margin-bottom: 20px; font-size: 2em">Irregular verb</h3>
        <h3 class="h3" id="task"></h3>
        <div class="wrapperInput">
            <input placeholder="Present" type="text">
            <span>✒️</span>
            <h2></h2>
        </div>
        <div class="wrapperInput">
            <input placeholder="Past" type="text">
            <span>✒️</span>
            <h2></h2>
        </div>
        <div class="wrapperInput">
            <input placeholder="Future" type="text">
            <span>✒️</span>
            <h2></h2>
        </div>
        <div class="wrrapperButton">
            <button id="clear">Clear fields</button>
            <button id="verification">Verification</button>
        </div>
    </main>
<header>
    <div class="menu">
        <img id="home" src="../static/image/home.svg" th:src="@{/image/home.svg}" alt="">
        <!--            <img id="add" src="../static/image/plus.svg" th:src="@{/image/plus.svg}" alt="">-->
        <!--            <img id="myWord" src="../static/image/edit.svg" th:src="@{/image/user.svg}" alt="">-->
        <img id="user" src="../static/image/user.svg" th:src="@{/image/user.svg}" alt="">
    </div>
</header>
<script type="module" th:src="@{/js/module.js}" src="../static/js/module.js"></script>
<script type="module" th:src="@{/js/irregularVerbQuiz.js}" src="../static/js/irregularVerbQuiz.js"></script>
<script type="module" th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
</body>
</html>