<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/screen.css}" href="../static/style/screen.css">
    <link rel="stylesheet" th:href="@{/style/sentence.css}" href="../static/style/sentence.css">
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
</head>

<body id="body">
<div id="adminAlert">
    <div id="closeAlert"></div>
    <div class="alertBackground">
        <h3 style="text-align: center">Edit</h3>
        <h3>English</h3>
        <textarea id="english">"Although she completed her literature review, she still needed to work"</textarea>
        <h3>Ukraine</h3>
        <textarea id="ukraine">Хоча вона завершила огляд літератури, їй все ще потрібно було попрацювати</textarea>
        <button style="color: red" id="delete">Delete</button>
        <div class="wrrapperButton">
            <button style="color: red" id="cancel">Cancel</button>
            <button style="color: green" id="save">Save</button>
        </div>
    </div>
</div>
<main>
    <div class="search">
        <img src="../static/image/search.svg" th:src="@{/image/search.svg}" alt="">
        <input id="search" placeholder="Search" type="text">
    </div>
    <div>
        <div id="first" class="element">
            <div class="element_name">Because he reads many books</div>
            <hr style="width: 100%; margin-top: 10px; border: 1px solid #0f1010">
            <div class="element_name">Тому що він читає багато книг</div>
        </div>
        <div id="second" class="element">
            <div class="element_name">Although she completed her literature review, she still needed to work on her methods section</div>
            <hr style="width: 100%; margin-top: 10px; border: 1px solid #0f1010">
            <div class="element_name">Хоча вона завершила огляд літератури, їй все ще потрібно було попрацювати над розділом методів</div>
        </div>
    </div>
</main>
<header>
    <div class="menu">
        <img id="home" src="../static/image/home.svg" th:src="@{/image/home.svg}" alt="">
        <!--            <img id="add" src="../static/image/plus.svg" th:src="@{/image/plus.svg}" alt="">-->
        <!--            <img id="myWord" src="../static/image/edit.svg" th:src="@{/image/user.svg}" alt="">-->
        <img id="user" src="../static/image/user.svg" th:src="@{/image/user.svg}" alt="">
    </div>
</header>
<script type="module" th:src="@{/js/module.js}" src="../static/js/module.js"></script>
<script type="module" th:src="@{/js/sentence.js}" src="../static/js/sentence.js"></script>
<script type="module" th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
</body>
</html>