<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/screen.css}" href="../static/style/screen.css">
    <link rel="stylesheet" th:href="@{/style/user.css}" href="../static/style/user.css">
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
</head>

<body>
    <div id="adminAlert">
        <div id="closeAlert"></div>
        <div class="alertBackground">
            <div id="word">Edit word</div>
            <div id="sentence">Edit sentence</div>
            <div id="irregularVerb">Edit irregular verb</div>
        </div>
    </div>

    <main>
        <div class="userWrapper">
            <img class="photoUser" src="../static/image/user.svg" th:src="@{/image/user.svg}">
            <div class="wrapperInfo">
                <h2 class="userName">Andrii</h2>
                <p class="info">Words: 256</p>
                <p class="info">Sentence: 328</p>
                <p class="info">Irregular verb: 124</p>
            </div>
        </div>
        <div class="userMenu">
            <img  alt="no">
            <img  alt="no">
            <img  alt="no">
            <img id="adminPanel" src="../static/image/user-plus.svg" th:src="@{/image/user-plus.svg}" alt="">
        </div>

    </main>
    <header>
        <div class="menu">
            <img id="home" src="../static/image/home.svg" th:src="@{/image/home.svg}" alt="">
            <!--            <img id="add" src="../static/image/plus.svg" th:src="@{/image/plus.svg}" alt="">-->
            <!--            <img id="myWord" src="../static/image/edit.svg" th:src="@{/image/user.svg}" alt="">-->
            <img id="user" src="../static/image/user.svg" th:src="@{/image/user.svg}" alt="">
        </div>
    </header>
    <script type="module" th:src="@{/js/module.js}" src="../static/js/module.js"></script>
    <script type="module" th:src="@{/js/user.js}" src="../static/js/user.js"></script>
    <script type="module" th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
</body>
</html>